<head>
	<style>
		.container {
			font-size: 3rem;
		}

		.postal{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			border: 0.3rem solid black;
			padding: 3rem;
			margin: 1rem;
			background-color: #CCFFEE;
		}
		
		.imgPostal{
			background-position: center;
			color: white;
			width: 250px;
			height: 320px;
			background-image: url('https://estaticos.muyinteresante.es/media/cache/760x570_thumb/uploads/images/pyr/55520750c0ea197b3fd50a04/bosque_1.jpg');
		}

		.msgPostal{
			display: flex;
			flex-direction: column;
			justify-content: space-around;

		}
		
		.inputMsg{
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		h3, h2{
			font-family: 'Indie Flower';
			//font-family: 'Pangolin', cursive;
		}

		h1{
			font-family: 'Pangolin';
		}

	</style>
	
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">

</head>
<body>
	<!--<div>Hello World</div> -->
	<div id="root"></div>

	<!--para tener disponible REACT en este doc-->
	<script src="https://unpkg.com/react@16.12.0/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone@7.8.3/babel.js"></script>
    <script src="https://unpkg.com/prop-types@15.7.2/prop-types.js"></script>    

    
	<script type="text/babel">
		const rootElement = document.getElementById('root');

        const Postal = (props) => {
            const {
				className = '',
				style,
				color,
				fStyle,
				...rest
			} = props;

			const colorStyle = color ? {backgroundColor: color} : {};
			const thisFont = fStyle ? {fontStyle: fStyle} : {};

			const [toWho, setToWho] = React.useState('');
			const [theMessage, setTheMessage] = React.useState('');

			const [sendMessage, setSendMessage] = React.useState(window.localStorage.getItem('username') || '');

			React.useEffect(() => {
				window.localStorage.setItem('username', toWho);
			});

			function handleChange(event) {
				setToWho(event.target.value);
			}

			function handleChange2(event) {
				setTheMessage(event.target.value);
			}

			function handleClick(event) {
				setToWho(event.target.value);
				
			}

			return (
				<div>
  					<div className ="postal_content">
  						<div className="imgPostal">
							<h1>Stay home!</h1>
						</div>
						<div className="msgPostal" style={{...thisFont, ...colorStyle, ...style}} {...rest}>

							<h3>
  								From: Nesly 
  							</h3>
							<h3>
  								To: {toWho}
  							</h3>
							<div>
								<h2>
									{theMessage}
								</h2>
							 </div> 
						</div>
  					</div>
					<div className="inputMsg">
						<p>
							To: 
						</p>
						<input
							id="toWho"
							value={toWho}
							onChange={handleChange}
						/>
						<p>
							Mensaje: 
						</p>
						<input
							id="theMessage"
							value={theMessage}
							onChange={handleChange2}
						/>
						<button onClick={handleClick}>
							Enviar
						</button>
						<p id="sendMessage"/>
							
					</div>
				</div>
			)
        }


        Pstal.propTypes = {
            to: PropTypes.string.isRequired,
            from: PropTypes.string.isRequired,
            message: PropTypes.string.isRequired,
            color: PropTypes.string.isRequired,
			fStyle: PropTypes.string.isRequired,
        } 


		const elementJSX = (
            <Postal
				to = "My friend"
				message = "Holaaa!"
				color = "fee1e8"
				fStyle = "italic"
			/>

		);



		ReactDOM.render(elementJSX, rootElement);
	</script>
	
</body>

